@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

:root {
	--black-color: #111111;
	--gray-color: #1111117a;
	--primary-color: #01a7fd;
	--white-color: #ffffff;
	--gray-bg: #fafafa;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	min-height: 100dvh;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

.subtitle {
	font-size: 1rem;
	line-height: 1.5rem;
}

.bold-text {
	font-weight: 700;
}

.medium-text {
	font-weight: 500;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

button {
	border: none;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	&:focus,
	&:active {
		border: none;
		outline: none;
	}
}

#app {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100dvh;
}

.container {
	margin: 0 auto;
	width: clamp(375px, 100%, 1400px);
	padding-inline: 17px;
}
